:root {
    --base-color-white: #fefefe;
    --base-color-gray-light: #d4d4d4;
    --base-color-gray-dark: #5f5f5f;
    --base-color-black: #1d1d1d;

    --brand-color-primary-light: #2196f3;
    --brand-color-primary-dark: #282c34;
    --brand-color-secondary-light: #ff5252;
}

/* Header */

.header {
    padding: 2rem 1rem;
    background: var(--brand-color-primary-dark);
    text-align: center;
}

.title {
    margin: 0;
    color: var(--brand-color-primary-light);
    font-size: 2em;
    font-weight: bold;
}

.title > span {
    color: var(--base-color-white);
}

/* Menu */

.menu {
    margin: 0;
    padding: 1rem;
    background: var(--brand-color-primary-dark);
    text-align: center;
}

.item {
    padding: 1rem;
    color: var(--brand-color-primary-light);
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
}

/* Section */

.head {
    margin: 0;
    padding: 1rem;
    border-top: 1px solid var(--base-color-gray-light);
    border-bottom: 1px solid var(--base-color-gray-light);
    background: var(--base-color-gray-dark);
    color: var(--brand-color-secondary-light);
    font-size: 1.75em;
    font-weight: bold;
}

.row {
    padding: 1rem;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
    margin: 0.5em 1em 0.5em 0;
}
